<div id="page_container">
  <div id="products">
    {{#each products}}
      <div>
        <div>
          <div>
            <img alt="Photo of the product" />
          </div>
          <div>
            <h3>{{this.title}}</h3>
            <h5>u$D {{this.price}}</h5>
            {{#each this.keywords}}
              <span>{{this}}</span>
            {{/each}}
            <p>{{this.description}}</p>
            <button onclick="addToCart({{this.id}})">Add to Cart</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>