<div id="create-product">
  <form id="productForm" onsubmit="handleFormSubmission(event)">
    <label for="title">Title<span class="required">*</span>:</label>
    <input type="text" id="title" name="title" required /><br />
    <label for="description">Description<span class="required">*</span>:</label>
    <textarea id="description" name="description" required></textarea><br />
    <label for="code">Code<span class="required">*</span>:</label>
    <input type="text" id="code" name="code" required /><br />
    <label for="price">Price<span class="required">*</span>:</label>
    <input
      type="number"
      id="price"
      name="price"
      min="0"
      step="0.01"
      required
    /><br />
    <label for="status">Status:</label>
    <select id="status" name="status" required>
      <option value="true">True</option>
      <option value="false">False</option>
    </select>
    <label for="stock">Stock<span class="required">*</span>:</label>
    <input type="number" id="stock" name="stock" min="0" required /><br />
    <label for="category">Category<span class="required">*</span>:</label>
    <input type="text" id="category" name="category" required /><br />
    <label for="thumbnail">Thumbnail URL:</label>
    <input type="url" id="thumbnail" name="thumbnail" /><br />
    <label for="keywords">Keywords<span class="required">*</span>:</label>
    <input type="text" id="keywords" name="keywords" required /><br />
    <input type="submit" value="Create Product" />
  </form>

</div>
<div id="products" class="uk-child-width-1-4@m" uk-grid>
  {{#each products}}
    <div id="product-{{this.id}}">
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <img alt="Product picture" />
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">{{this.title}}</h3>
          <h5>u$D {{this.price}}</h5>
          {{#each this.keywords}}
            <span class="uk-badge">{{this}}</span>
          {{/each}}
          <p>{{this.description}}</p>
          <button onclick="deleteProduct(this)" id="delete-product-{{this.id}}" class="deletion-button">Delete Product</button>
        </div>
      </div>
    </div>
  {{/each}}
</div>