<div id="page_container">
  <div id="filters">
    <h3>Filters</h3>
    <select id="category_filter" class="filter">
      <option value="all">All Categories</option>
      {{#each categories}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <select id="price_filter" class="filter">
      <option value="">Order price</option>
      <option value="1">ascending</option>
      <option value="-1">descending</option>
    </select>
  </div>
  <div id="products">
    {{#each products}}
      <div>
        <div>
          <div>
            <img alt="Photo of the product" />
          </div>
          <div>
            <h3>{{this.title}}</h3>
            <h5>u$D {{this.price}}</h5>
            <h3>{{this.category}}</h3>
            {{#each this.keywords}}
              <span>{{this}}</span>
            {{/each}}
            <p>{{this.description}}</p>
            <button onclick="addToCart({{this.id}})">Add to Cart</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <div id="pagination">
    {{#if pageInfo.hasPrevPage}}
      <a href={{pageInfo.prevLink}}>&lt; Previous</a>
    {{/if}}
    <p id="pages_info"><span id="current_page">{{pageInfo.page}}</span>
      of
      <span id="total_pages">{{pageInfo.totalPages}}</span></p>
    {{#if pageInfo.hasNextPage}}
      <a href={{pageInfo.nextLink}}>Next&gt;</a>
    {{/if}}
  </div>
</div>