<div id="page_container">
  <div id="filters">
    <h3>Filters</h3>
    <label>Category
      <select id="category_filter" class="filter">
        <option value="">all</option>
        {{#each categories}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </label>
    <label>Order price by
      <select id="price_filter" class="filter">
        <option value="">none</option>
        <option value="1">ascending</option>
        <option value="-1">descending</option>
      </select>
    </label>
  </div>
  <div id="products">
    {{#each products}}
        <div class="product">
          <div>
            <img class="product_image" alt="Photo of the product" />
          </div>
          <div>
            <p class="product_title">{{this.title}}</p>
            <p class="product_price">u$D {{this.price}}</h5>
            <p class="product_category">{{this.category}}</p>
            {{#each this.keywords}}
              <span class="product_keywords">{{this}}</span>
            {{/each}}
            <p class="product_description">{{this.description}}</p>
            <button class="add_to_cart" onclick="handleProductAddedToCart('{{../cartId}}','{{this._id}}')">Add to Cart{{cartId}}</button>
          </div>
        </div>
    {{/each}}
  </div>
  <div id="pagination">
    {{#if pageInfo.hasPrevPage}}
      <a href={{pageInfo.prevLink}}>&lt; Previous</a>
    {{/if}}
    <p id="pages_info"><span id="current_page">{{pageInfo.page}}</span>
      of
      <span id="total_pages">{{pageInfo.totalPages}}</span></p>
    {{#if pageInfo.hasNextPage}}
      <a href={{pageInfo.nextLink}}>Next&gt;</a>
    {{/if}}
  </div>
</div>
